@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@300&display=swap");

/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
}

/* Variables */

:root {
  /* Fonts */
  --FF: "Oswald", sans-serif;
  --FF-HEADINGS: "Raleway", sans-serif;
  --FS: clamp(1rem, 2.2vw, 2rem);
  --PARA-FS: 0.8rem;
  --HEADING-FS: clamp(1rem, 2.2vw, 3rem);

  /* Colors */
  --BGCOLOR: #fff;
  --FONT-COLOR: #000;
  --HEADER-COLOR: hsla(0, 0%, 0%, 0.5);
  --BORDER-COLOR: #333;
  --SKILL-COLOR: #e100ff;

  /* Border */
  --BORDERS: 1px solid var(--BORDER-COLOR);

  /* Standard padding */
  --PADDING-TOPBOT: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* Standard margin */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* Utility classes */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

ul {
  list-style-type: none;
}

/* General styles */
html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
}

body {
  background-color: inherit;
  color: inherit;
  min-height: 100vh;
  transition: all 0.5s;
}

h1,
h2 {
  font-family: var(--FF-HEADINGS);
  font-size: var(--HEADING-FS);
  letter-spacing: max(2px, 0.1rem);
}

a:any-link {
  text-decoration: none;
  color: inherit;
}

/* Header */

.header {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 3rem;
  margin-bottom: 2.2rem;
}

.header__container h1 {
  display: inline-block;
}

.header__title {
  color: var(--HEADER-COLOR);
  text-align: left;
  text-transform: uppercase;
  width: 0;
  padding-right: 1rem;
  border-right: 5px solid var(--HEADER-COLOR);
  overflow: hidden;
  animation: typing 5s steps(21) forwards,
    cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.toggle__btn {
  margin-top: 0.3rem;
  background-color: inherit;
  width: 70px;
  height: 35px;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;

  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

.toggle__btn:hover {
  cursor: pointer;
}

.btn__indicator {
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.623);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.btn__icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image--light-mode {
  filter: invert(12%) sepia(99%) saturate(5239%) hue-rotate(295deg)
    brightness(64%) contrast(124%);
  /* filter: invert(18%) sepia(59%) saturate(6037%) hue-rotate(285deg)
    brightness(103%) contrast(129%); */
}

.header__image--dark-mode {
  filter: invert(18%) sepia(59%) saturate(6037%) hue-rotate(285deg)
    brightness(103%) contrast(129%);
}

.header__nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--BGCOLOR);
  width: 100%;
}

.header__nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__nav ul li {
  transition: all 0.5s;
}

.header__nav ul li:hover,
.header__nav ul li:focus-within {
  text-shadow: 0 0 10px var(--SKILL-COLOR);
  transform: scale(1.1);
}

.header__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.header__message-btn {
  margin: 0 auto;
}

.header__message-btn button {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 0 0.5rem;
  border: 1px solid purple;
  border-radius: 15px;
  background-color: transparent;
  transition: all 0.8s;
  animation: glow 1.4s linear infinite;
}

.header__message-btn button:hover {
  transform: translateY(-10px);
  background-color: hsla(277, 100%, 50%, 0.233);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 purple;
  }

  50% {
    box-shadow: 0 0 30px 0 purple;
  }
}

.header__message-icon {
  font-size: 2rem;
  transform: translateY(-3px);
  cursor: pointer;
}

/* Main */

.main {
  display: flex;
  flex-flow: column nowrap;
}

.main__section {
  margin: var(--MARGIN);
  padding: var(--PADDING-TOPBOT) var(--PADDING-SIDE);
  scroll-margin-top: 1.5rem;
}

.main__section h2 {
  margin: var(--MARGIN);
}

/* Skills */

.skills__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.skill {
  width: max(200px, 15vw);
  height: max(60px, 8vw);
  border: none;
  border-radius: 15px;
  margin: var(--MARGIN);
  color: var(--SKILL-COLOR);

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 10px 8px hsla(300, 100%, 25%, 0.4);
}

.skill--dark-mode:hover,
.skill--dark-mode:focus-within {
  background-color: #e100ff;
  color: #050801;
  box-shadow: 0px 0px 5px #e100ff, 0px 0px 25px #e100ff, 0px 0px 50px #e100ff,
    0px 0px 100px #e100ff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.skill--light-mode:hover,
.skill--light-mode:focus-within {
  cursor: pointer;

  /* Glow effect */
  /* background: #e100ff; */
  /* color: #050801; */
  box-shadow: 0 0 5px #e100ff, 0 0 25px #e100ff, 0 0 50px #e100ff,
    0 0 200px #e100ff;
  animation: beats 1s infinite;
  transition: 0.3s;
}

@keyframes beats {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
    box-shadow: 10px 10px 10px 5px hsla(293, 100%, 50%, 0.7);
  }

  100% {
    transform: scale(1);
  }
}

/* Projects */

.projects__list {
  margin-top: 2.5rem;
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  row-gap: 3rem;
}

.project {
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 336px;
  height: auto;
  padding: 0.5rem;
  border-radius: 15px;
}

.project:hover,
.project:focus-within {
  box-shadow: 0 6px 10px -1px var(--SKILL-COLOR);
  transform: translateY(-5%);
}

.project h3 {
  margin: 0 0.5rem;
}

.project p {
  font-family: var(--FF-HEADINGS);
  font-size: var(--PARA-FS);
  font-weight: bold;
  margin: 0 0.5rem;
}

.project span {
  display: flex;
  justify-content: space-around;
}

.project span a {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.project:hover span a:last-child {
  animation: blink 0.2s ease-in-out infinite alternate;
}

.project:hover span a:first-child {
  animation: blink 0.2s ease-in-out infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

/* Contact */
.contact__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__list figure img {
  border-radius: 50%;
}

.contact__list li {
  margin: 0 1rem;
}

/* Footer */
.footer {
  font-size: 0.5rem;
}

/* Media queries */

@media screen and (min-width: 700px) {
  .projects__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (min-width: 992px) {
  .header {
    margin-top: 2.2rem;
  }
  .header__container {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .header__nav ul li {
    margin: 0 2rem;
  }

  .skills__list {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .projects__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}

/* Dark Mode */

.dark__mode {
  background-color: var(--FONT-COLOR);
  color: var(--BGCOLOR);
}

.projects__list .dark__mode:hover,
.projects__list .dark__mode:focus-within {
  animation: glow 1.4s linear infinite alternate;
}

.github__logo--dark-mode {
  filter: invert(98%) sepia(97%) saturate(0%) hue-rotate(281deg)
    brightness(110%) contrast(101%);
}

.header__title--dark-mode {
  color: aliceblue;
  border-color: aliceblue;
}

.toggle__btn--dark {
  background-color: hsla(0, 0%, 20%, 0.63);
}

.toggle__btn--dark .btn__icon {
  height: 30px;
}

.toggle__btn--dark .btn__indicator {
  background-color: #333;
  transform: translateX(35px);
}
